*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-optical-sizing: auto;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1440px) {
  html {
      font-size: 16px;
  }
}

html {
    background-color: #0f1822;
    scrollbar-width: none;
    -ms-overflow-style: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

::selection {
    background-color: rgba(249, 87, 255, 0.5);
    color: whitesmoke;
}
  
::-moz-selection {
    display: none;
}
  
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
::-webkit-scrollbar-track {
    background-color: rgb(22,26,29);
}
  
::-webkit-scrollbar-thumb {
    background-color: rgb(44,51,58);
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(89,103,115);
}

a {
    text-decoration: none;
}

:root {

  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; 

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); 
  background-color: #0f1822;
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-text: rgba(255, 255, 255, 0.87);
  --color-primary: #0f1822;
  --color-primary-light: #091018;
  --color-header: #091018;
  --color-primary-transparent: rgba(15, 24, 34, 0.7);
  --color-secondary: #dcb426;
  --color-modal-bg: #111d29;
  --color-popup-border: #ffffff42; 
  --color-dark-transparent: #36363642; 
}

.swiper .swiper-pagination-bullet {
  background-color: var(--color-text) !important;
}

.swiper .swiper-pagination-bullet-active {
  background-color: var(--color-secondary) !important;
}

.span-color-secondary {
  color: var(--color-secondary);
}

.span-font-weight-bold {
  font-weight: bold; 
}

.span-italic {
  font-style: italic;
}

.span-uppercase {
  text-transform: uppercase;
}

.gallery {
  display: block;
  max-width: 90dvw;
  margin: 0 auto;
}

.gallery__item {
  width: 100%;
}

.gallery__img {
  width: 100%;
  background-color: var(--color-primary-light);
  cursor: zoom-in;
}

/* for loader */

html {
  background-color: #0f1822;
  scrollbar-width: none;
  -ms-overflow-style: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;
  font-size: 12px;
  overflow: hidden;
  position: relative;
}
@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}
@media (min-width: 1440px) {
  html {
      font-size: 16px;
  }
}
::selection {
  background-color: rgba(249, 87, 255, 0.5);
  color: whitesmoke;
}
::-moz-selection {
    display: none;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background-color: rgb(22,26,29);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(44,51,58);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(89,103,115);
}
.loaderContainer {
  display: flex;
  height: 100dvh;
  width: 100dvw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000000;
  background-color: #0f1822;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.25s ease-in-out;
}
.loaderConteinerInView {
  opacity: 1;
  transform: translateY(0);
}
.title {
  text-align: center;
  width: fit-content;
  display: inline-grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  line-height: 2rem;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", serif;
  font-weight: 600;
  color: azure;
  overflow: hidden;
  white-space: nowrap;
}
.title:before,
.title:after {
  content: "Fumitrade";
  grid-area: 1/1;
  -webkit-mask-size: 100% 5px,100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: titleAnimation-1 1s infinite;
}
.title:before {
  -webkit-mask-image: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
}
.title:after {
  -webkit-mask-image: linear-gradient(#000 0 0);
  animation: titleAnimation-1  1s infinite, titleAnimation-2 .2s infinite cubic-bezier(0.5,200,0.5,-200);
}
@keyframes titleAnimation-1{
  0%   { -webkit-mask-position: 0 20px,  0 0 }
  20%  { -webkit-mask-position: 0 8px ,  0 0 }
  40%  { -webkit-mask-position: 0 100%,  0 0 }
  60%  { -webkit-mask-position: 0 3px ,  0 0 }
  80%  { -webkit-mask-position: 0 15px,  0 0 }
  100% { -webkit-mask-position: 0 0   ,  0 0 }
}
@keyframes titleAnimation-2{
  100% { transform: translate(0.1px) } 
}
.loader {
  width: 16rem;
  height: 4rem;
  display: grid;
  color: rgb(200, 200, 200);
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  --c:#0000 calc(100%/3),rgb(200, 200, 200) 0 calc(2*100%/3),#0000 0;
  --c1:linear-gradient(90deg,var(--c));
  --c2:linear-gradient( 0deg,var(--c));
  background: var(--c1),var(--c2),var(--c1),var(--c2);
  background-size: 300% 3px,3px 300%;
  background-repeat: no-repeat;
  animation: loaderAnimation 1.5s infinite;
}
.loader:after {
  animation-delay: -.75s;
}
@keyframes loaderAnimation {
  0%      { background-position:  50%   0,  100% 100%,  0    100%,  0 0 }
  25%     { background-position:  0     0,  100% 50%,   0    100%,  0 0 }
  50%     { background-position:  0     0,  100% 0,     50%  100%,  0 0 }
  75%     { background-position:  0     0,  100% 0,     100% 100%,  0 50% }
  75.01%  { background-position:  100%  0,  100% 0,     100% 100%,  0 50% }
  100%    { background-position:  50%   0,  100% 0,     100% 100%,  0 100% }
}

/* not found */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  color: #333;
  font-family: "Montserrat", serif;
  padding: 0 1rem;
  overflow: scroll;
}

.message {
  font-size: 2rem;
  font-weight: 600;
  margin: 0.5rem 0;
  color: var(--color-secondary);
} 

.description {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.87);;
  margin-bottom: 2rem;
}

.homeButton {
  display: inline-block;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-primary-light);
  background-color: var(--color-secondary);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.homeButton:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.image {
  width: 100%;
  max-width: 35rem;
  opacity: 0.9;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}